.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
  background-image: linear-gradient(180deg, #FFC233 0%, #FFAA23 100%);
}
.dark-text {
  color: black !important;
}
.progress-text {
  color: whitesmoke;
  font-size: 20px;
  text-shadow:
          0.03em 0 darkblue,
          0 0.03em darkblue,
          -0.03em 0 darkblue,
          0 -0.03em darkblue;
}
.progress-bar {
  background-color: #033260 !important;
  color: #033260;
}
.progress-bar-label {
  color: #61dafb;
}
